.main_div{
    width: 100%;
    display: flex;
    background-color: #282c3f;
    
   
}


.inner_div{
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}


.inner_div img{
    height: 340px;
}